* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.text-box{
  height: 75vh;
  background-image: linear-gradient(to right bottom, rgba(119, 121, 228, 0.6), rgba(242, 182, 79, 0.8)), url('../images/blur-book-stack-books-590493.jpg');
  background-size: cover;

}

.header{
  position: relative;

  clip-path: polygon(0 0, 100% 0%, 100% 55vh, 0 100%);
}

.main-header{
  padding-left: 100px;
  padding-top: 250px;
  display: block;
  color: #fff;
  font-size: 60px;
  font-family: 'Dancing Script', cursive;


}

.sub-header{
  padding-left: 175px;
  color: #fff;
  font-size: 75px;
  font-family: 'Raleway', sans-serif;
}

.nav-bar{
  text-align: right;
  padding: 20px 45px;
}

.nav-link{
  padding: 15px;
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
